* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
}

nav {
    background-color: blueviolet;
    border-bottom: 1px solid black;
    height: 50px;
}

#logo {
    color: white;
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    top: 15px;
    left: 10px;
}

#menu {
    list-style: none;
    float: right;
    margin-top: 17px;
}

.item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
}

.item a {
    color: white;
    text-decoration: none;

}

.item a:hover {
    color: grey;
    transition: .5s;
}